---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=movie_api_key&page&query=Finding%20Nemo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/movie_show/has_button_to_create_viewing_party.yml
      - Fri, 26 Aug 2022 15:04:36 GMT
=======
      - Fri, 26 Aug 2022 16:49:53 GMT
>>>>>>> main:spec/fixtures/vcr_cassettes/MovieFacade/searches_movies_with_matching_title.yml
      Server:
      - openresty
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Methods:
      - GET, HEAD, POST, PUT, DELETE, OPTIONS
      Access-Control-Expose-Headers:
      - ETag, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After,
        Content-Length, Content-Range
      Cache-Control:
      - public, max-age=600
      Vary:
      - Accept-Encoding
      X-Cache:
      - Hit from cloudfront
      Via:
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/movie_show/has_button_to_create_viewing_party.yml
      - 1.1 94bd5e4f47540501369a53d4ae35d3b2.cloudfront.net (CloudFront)
=======
      - 1.1 025e84e972a461c1dd140ac5fbbbd0aa.cloudfront.net (CloudFront)
>>>>>>> main:spec/fixtures/vcr_cassettes/MovieFacade/searches_movies_with_matching_title.yml
      X-Amz-Cf-Pop:
      - DEN50-C2
      Alt-Svc:
      - h3=":443"; ma=86400
      X-Amz-Cf-Id:
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/movie_show/has_button_to_create_viewing_party.yml
      - 1anOMwqYaRrVSsJGUmtGVplWWlO_yqxsL3xS5rAdPe8UyXZR2YrqcQ==
=======
      - 8AW8dujcsP_2o2mks1K1jAHhh49sKay90Xe9BpwEqqM8iT7jvKCyrA==
      Age:
      - '553'
>>>>>>> main:spec/fixtures/vcr_cassettes/MovieFacade/searches_movies_with_matching_title.yml
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/bvpI11RJbE6lHSWCrhvNC1S1MtO.jpg","genre_ids":[16,10751],"id":12,"original_language":"en","original_title":"Finding
        Nemo","overview":"Nemo, an adventurous young clownfish, is unexpectedly taken
        from his Great Barrier Reef home to a dentist''s office aquarium. It''s up
        to his worrisome father Marlin and a friendly but forgetful fish Dory to bring
        Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish,
        hungry seagulls, and more along the way.","popularity":120.64,"poster_path":"/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg","release_date":"2003-05-30","title":"Finding
        Nemo","video":false,"vote_average":7.8,"vote_count":16723},{"adult":false,"backdrop_path":null,"genre_ids":[99,10751],"id":648081,"original_language":"en","original_title":"Children''s
        Aquarium: Finding the Real Nemo & Dory","overview":"Looking to find the real
        Nemo and Dory? Well look no further than this unique program. Children will
        love watching clownfish play with one another and the the blue tang as it
        just keeps swimming.","popularity":0.656,"poster_path":"/em724CmoRutJ2QkjAKuW0Y7a5i5.jpg","release_date":"2015-08-27","title":"Children''s
        Aquarium: Finding the Real Nemo & Dory","video":true,"vote_average":8,"vote_count":2},{"adult":false,"backdrop_path":"/1lqVrt3nEcAJV2GzKZfXvOsZcPQ.jpg","genre_ids":[12,16,35,10751],"id":127380,"original_language":"en","original_title":"Finding
        Dory","overview":"Dory is reunited with her friends Nemo and Marlin in the
        search for answers about her past. What can she remember? Who are her parents?
        And where did she learn to speak Whale?","popularity":51.541,"poster_path":"/3UVe8NL1E2ZdUZ9EDlKGJY5UzE.jpg","release_date":"2016-06-16","title":"Finding
        Dory","video":false,"vote_average":7,"vote_count":10765}],"total_pages":1,"total_results":3}'
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/movie_show/has_button_to_create_viewing_party.yml
  recorded_at: Fri, 26 Aug 2022 15:04:37 GMT
=======
  recorded_at: Fri, 26 Aug 2022 16:59:06 GMT
>>>>>>> main:spec/fixtures/vcr_cassettes/MovieFacade/searches_movies_with_matching_title.yml
recorded_with: VCR 6.1.0
