<div>
  <table>
    <thead>
      <tr>
        <th>Movies</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>